.primary-btn {
    font-family: sans-serif;
    letter-spacing: 0.10em;
}

.btn {
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 4px;
    padding: .5em;
    margin-right: 1.5em;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    transition: 300ms ease-in-out;
}

.btn:hover {
    background-color: hsl(174, 100%, 23%);
    color: white;
}